.profile-selector {
  display: none;
  &.active {
    display: inline-block;
  }

  .select-wrapper {
    border: 1px solid #adb9c5;
    border-radius: 3px;
    position: relative;
    cursor: pointer;

    select {
      -webkit-appearance: none;
      font-size: 14px;
      color: #484d52;
      border: none;
      padding: 4px 24px 4px 10px;
      outline: none;
      cursor: pointer;
    }
    &:after {
      font-family: "Material Icons";
      content: '\e313';
      position: absolute;
      top: 2px;
      right: 3px;
      pointer-events: none;
    }
  }
}