footer {
  color: #9A9A9A;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  border-top: 1px solid #DADADA;
  padding-top: 2rem;
}
footer p {
  padding-bottom: 2rem;
  margin-bottom: 0;
  margin-top: 15px;
}
footer a {
  font-weight: bold;
  text-decoration: none;
}
.footer-logo {
  width: 30px;
  margin-top: 10px;
}