footer {
  color: #9A9A9A;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
footer p {
  border-top: 1px solid #DADADA;
  padding: 2rem 0;
  margin-bottom: 0;
}
footer a {
  font-weight: bold;
  text-decoration: none;
}
.footer-logo {
  width: 30px;
  margin-top: 10px;
}