.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  &.dark {
    .name {
      color: #484d52;

      &:hover {
        color: #72767B;
      }
    }
  }

  &.light {
    .name {
      color: #ffffff;

      &:hover {
        color: #c8c9cb;
      }
    }
  }

  .brand {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 20px;
      max-height: 60px;
      object-fit: cover;
    }

    .name {
      font-size: 22px;
      font-weight: 900;
    }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      margin: 0;

      li {
        &:not(:first-child) {
          margin-left: 40px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .site-header {
    display: block;
    padding-left: 20px;
    padding-right: 20px;

    nav {
      margin-top: 20px;
    }
  }
}
