section.banner.content-section
  img(src=slice.primary.image.url)
  div.cta
    div.cta-text.grid-container
      != RichText.asText(slice.primary.title)
    if slice.primary.linkText[0].text
      a.cta-button.grid-container(href=Link.url(slice.primary.link, ctx.linkResolver))
        != RichText.asText(slice.primary.linkText)