section.featured-products-slice.content-section.grid-container
  header
    != RichText.asHtml(slice.primary.title, ctx.linkResolver)
    != RichText.asHtml(slice.primary.description, ctx.linkResolver)
  .featured-products-list
    each item in slice.items
      .product
        img(src=item.product.image_url)
        p
          strong
            != item.product.title
        p
          != item.product.description
        .price
          != item.product.price
