section.slider.content-section.grid-container
  
  ul#image-slider
    
    //- Loop through the slider items
    each sliderItem in slice.items
      
      - var imageUrl = sliderItem.image ? sliderItem.image.url : ""
      
      li
        img(src=imageUrl)
