// Add the class that defines the number of columns
if ( slice.slice_label )
  - var sectionClass = "text-section-" + slice.slice_label
else 
  - var sectionClass = "text-section-1col"

section.text-section.grid-container(class=sectionClass)
  != RichText.asHtml(slice.primary.text, ctx.linkResolver)
