extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = home

block body

  .homepage

    -// Homepage Banner Section
    section.homepage-banner(style='background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(' + home.data.backgroundImage.url + ')')
      .banner-content.grid-container
        h2.banner-title
          != RichText.asText(home.data.title)
        != RichText.asHtml(home.data.tagline, ctx.linkResolver)
        if ( home.data.buttonLink && home.data.buttonText )
          a.banner-button(href=Link.url(home.data.buttonLink, ctx.linkResolver)) !{home.data.buttonText}

    -// Content Section
    div.grid-container

      -// Display the slices
      for slice in home.data.body
        case slice.slice_type
          when 'highlight_section'
            include ./slices/highlight-section.pug
          when 'banner'
            include ./slices/banner.pug
          when 'banner_look'
            include ./slices/quote-banner.pug
          when 'text_section'
            include ./slices/text-section.pug
          when 'image_slider'
            include ./slices/image-slider.pug
          when 'video'
            include ./slices/video.pug
