extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = page

block body

  -// Content Section
  div

    -// Display the slices
    for slice in page.data.body
      case slice.slice_type
        when 'highlight_section'
          include ./slices/highlight-section.pug
        when 'banner'
          include ./slices/banner.pug
        when 'banner_look'
          include ./slices/quote-banner.pug
        when 'text_section'
          include ./slices/text-section.pug
        when 'image_slider'
          include ./slices/image-slider.pug
        when 'video'
          include ./slices/video.pug
        when 'featured_products'
          include ./slices/featured-products.pug
        when 'image_hotspots'
          include ./slices/image-hotspots.pug
