@mixin quotes($color) {
  display: block;
  font-family: 'Lora', Serif; 
  font-size: 36px;
  font-style: italic;
  font-weight: normal; 
  color: $color; 
  letter-spacing : 1.14;
  line-height: 1.5em;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: center;
  
  &:before, &:after {
    color: $color;
    content: open-quote;
    font-family: 'Lora', Serif;
    font-size: 2.5em;
    font-weight: 900;
    line-height: 0.1em;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: -0.3em;
  }
  
  &:after {
    content: close-quote;
    position: relative;
    top: 0.3em;
  }
}

@mixin button($primary, $secondary: transparent, $border: $primary, $primaryHover: $primary, $secondaryHover: $secondary, $borderHover: $primaryHover) {
  border: 2px solid $border;
  display: inline-block;
  padding: 7px 30px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary;
  background: $secondary;
  border-radius: 4px;
  a{
    color: $primary;
  }

  &:hover {
    color: $primaryHover;
    background-color: $secondaryHover;
    border-color: $borderHover;
    a{
      color: $primaryHover;
    }
  }
}