//layout
@import 'layout/header';
@import 'layout/homepage-banner';
@import 'layout/main';
@import 'layout/footer';
@import 'layout/wio-link';

//components
@import 'components/language-selector';
@import 'components/profile-selector';

//slices
@import 'slices/quote-banner';
@import 'slices/banner';
@import 'slices/featured-section';
@import 'slices/gallery';
@import 'slices/highlight-section';
@import 'slices/text-section';
@import 'slices/video';
@import 'slices/image-gallery';


//messy code, need to be cleaned
@import 'toclean';