$break-small: 767px;


.featured-section {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  margin-top: 120px;

  &.Right {
    flex-direction: row-reverse;

    .content {
      padding: 50px 0 50px 80px;
    }
  }

  &.Left {
    .content {
      padding: 50px 80px 50px 0;
    }
  }

  .illustration {
    flex: 3;

    .link {
      display: none;
    }
  }
  .content {
    flex-basis: 0px;
    padding: 70px 70px 70px 0;
    font-size: 13px;
    line-height: 1.7;
    letter-spacing: 0.6;
    flex: 2;
    box-sizing: border-box;
    position: relative;

    .title {
      margin-bottom: 30px;

      h2 {
        position: relative;
        font-size: 45px;
        font-weight: 300;
        width: 400px;
        line-height: 50px;
      }
    }
  }
}


@media screen and (max-width: $break-small) {
  .featured-section{
    display: block;
    margin-bottom: 0px;
    .content{
      padding: 0 30px;
    }
  }
}