@import '../mixins';
$break-small: 767px;


.highlight-section {
  margin-bottom: 80px;
  
  .illustration {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }

  .content {
    font-size: 13px;
    line-height: 1.7;
    letter-spacing: 0.6;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    padding: 60px;
    box-sizing: border-box;
    position: relative;

    .title {
      margin-bottom: 30px;

      h2 {
        position: relative;
        font-size: 40px;
        line-height: 50px;
      }
    }
    
    .action {
      @include button($primary: #333, $primaryHover: white, $border : #333, $secondaryHover: #333, $borderHover: #333);
    }
  }
}

@media screen and (max-width: $break-small) {
  .highlight-section{
    .content{
      display: block;
      width: 100%;
      padding: 50px 30px;
    }
    .illustration{
      display: block;
      width: 100%;
    }
  }
}