@import '../mixins';
$break-small: 767px;


.text-section {
  margin-bottom: 50px;
  h1{
    margin: 100px 0 50px 0;
    font-family: 'Lato';
    font-weight: 900;
    font-size:60px;
    line-height: 60px;
  }
  h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
  }
  &.text-section-1col-center{
    h1,h2{
      text-align: center;
    }
    h2{
      font-family: 'Lora';
      font-style: italic;
      max-width: 80%;
      margin: 0 auto 80px auto;
    }
  }
  &.text-section-2col {
    column-count: 2;
    column-gap: 40px;
    h1,h2{
      text-align: left;
      margin: 0 0 20px 0;
      font-family: 'Lato';
      font-style: normal;
    }
    h1{
      font-size: 38px;
      line-height: 45px;
      font-weight: 500;
    }
    h2{
      font-size: 26px;
      line-height: 50px;
      font-weight: 300;
    }
  }
  .text-section-1col img,
  .text-section-2col img,
  .gallery img {
    margin-bottom: 1rem;
  }
  .text-section-1col p:last-child,
  .text-section-2col p:last-child {
    margin-bottom: 0;
  }
  .quote {
    @include quotes(#e9e9e9);
  }
}



@media screen and (max-width: $break-small) {
  .text-section{
    padding: 0 30px;
    h1{
      font-size: 40px;
      line-height: 50px;
      margin: 30px 0 0 0;
    }
    h2{
      font-size: 32px;
      line-height: 40px;
    }
    &.text-section-2col{
    column-count:1;
  }
  }
  
}
