@import '../mixins';

.text-section {
  .text-section-2col {
    column-count: 2;
    column-gap: 40px;
  }
  .text-section-1col img,
  .text-section-2col img,
  .gallery img {
    margin-bottom: 1rem;
  }
  .text-section-1col p:last-child,
  .text-section-2col p:last-child {
    margin-bottom: 0;
  }
  .quote {
    @include quotes(#e9e9e9);
  }
}